<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTESYNCS - Sell Your Notes</title>
    <link rel="stylesheet" href="header.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<header class="navbar">
    <div class="header-content-wrapper"> <div class="logo">
            <h1>NOTESYNCS</h1>
        </div>
        <nav>
            <ul>
                <li><a href="landing" class="nav-home-link"><i class="material-icons">home</i> Home</a></li>
                <li><a href="cart" class="add-to-cart-btn"><i class="material-icons">add_shopping_cart</i> Add to Cart</a></li>
                <li><a href="login" class="nav-login-link"><i class="material-icons">person_outline</i> Login</a></li>
            </ul>
        </nav>
    </div>
</header>
</html>