<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTESYNCS - Share Your Notes</title>
    <link rel="stylesheet" href="header.component.css"><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

</head>

<header class="navbar">
    <div class="logo">
        <img src="assets/logo_notesync.jpg" alt="NOTESYNCS Logo">
        <h1>NOTESYNCS</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            @if (user$ | async; as user){
                <div class="flex flex-wrap items-center content-center auth">
                <div class="logo">
                    <img class="w-10 h-10 rounded-full" [src]="user?.photoURL"
                    [alt]="user?.displayName" />
                    <!-- uncomment to show user's name
                    <span class="text-white text-xl whitespace-nowrap font-light px-4 lg:px-5 py-2 lg:py-2.5">
                        {{user?.displayName}}
                    </span>
                    -->
                    <li>
                        <a class="bg-white hover:bg-navy-20 rounded-md mt-4 py-3 px-4 block whitespace-no-wrap text-navy-500 font-semibold"
                        href="/" (click)="this.chatService.logout()">
                        Sign out
                    </a>
                </li>
            </div>
        </div>
            }@else if (user$ | async) {
                <li><button class="sign-up-btn" onclick="window.location.href='login'">Login/Register</button></li>
            }
        </ul>
</nav>
</header>