<!-- src/app/pages/home/home.component.html (Relevant snippet) -->
<div class="promo-grid">
    <div class="promo-item">
        <!-- ... other content ... -->
        <div class="promo-content">
            <!-- ... -->
            <button class="promo-button" routerLink="/promo1">View Deal</button> <!-- THIS LINK -->
        </div>
    </div>
    <div class="promo-item">
        <!-- ... other content ... -->
        <div class="promo-content">
            <!-- ... -->
            <button class="promo-button" routerLink="/promo2">Learn More</button> <!-- THIS LINK -->
        </div>
    </div>
</div>